<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js 表单 - input type radio</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style></style>
  </head>
  <body>
    <div id="hello-vue">
      <div>input radio 表单</div>
      <form>
        性别： <input type="radio" name="sex" id="nan" v-model="sex" value="男" />
        <label for="nan">男</label>
        <input type="radio" name="sex" id="nv" v-model="sex" value="女" />
        <label for="nv">女</label>
      </form>
      <div>已选： {{sex}} </div>
    </div>
    <script type="text/javascript">
      const HelloVueApp = {
        data() {
          return {
            sex: "",
          };
        },
      };
      Vue.createApp(HelloVueApp).mount("#hello-vue");
    </script>
  </body>
</html>
